<ngx-spinner bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white" i18n>Loading...</p>
</ngx-spinner>

<div class="users-container">
    <div class="user-card" *ngFor="let user of usersService.users | paginate: { itemsPerPage: 20, currentPage: page }" (click)="editModal(user)" data-toggle="modal" data-target="#exampleModal">
        <h2 class="user-card__name">{{user.name}}</h2>
        <p class="user-card__birthdate">{{user.birthdate | date:'longDate' }}</p>
        <p class="user-card__generation">{{user.generation}}</p>
    </div>
</div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>

<div class="generation-filter">
    <p><span>Filter:</span></p>
    <a class="generation-filter__link" (click)="all()">See all</a>
    <a class="generation-filter__link" (click)="millenials()">Millenials</a>
    <a class="generation-filter__link" (click)="babyBoom()">Baby Boom</a>
    <a class="generation-filter__link" (click)="generationZ()">Generation Z</a>
    <a class="generation-filter__link" (click)="generationX()">Generation X</a>
    <a class="generation-filter__link" (click)="silentG()">Silent Generation</a>
</div>


 <!-- ---- MODAL ---- -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <form (ngSubmit)="editUser(userForm)" #userForm="ngForm" class="add-form">
                <div class="add-form__name">
                    <input type="text" id="user_name" required placeholder="your name here"
                    [(ngModel)]="usersService.selectedUser.name" name="name" #name="ngModel" 
                    minlength="3" i18n>
                </div>
                
                <div class="add-form__date">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" i18n
                    [(ngModel)]="usersService.selectedUser.birthdate" #birthdate="ngModel" name="birthdate" readonly id="user_birthdate" required
                    [min]="minDate" [max]="maxDate" [readonly]="isReadOnly">
                    <mat-datepicker-toggle matSuffix [for]="picker" class="add-form__date-icon"></mat-datepicker-toggle>
                    <mat-datepicker #picker [disabled]="isReadOnly"></mat-datepicker>
                </div>
                
                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="usersService.selectedUser.id">
                <button type="submit" class="btn btn--update">Save changes</button>
                <button type="button" class="btn btn--delete" data-dismiss="modal">Close</button>
            </form>
            
        </div>
        </div>
    </div>
</div>
