<div class="header">
  <a href="https://www.innocv.com/" target="_blank" class="header__logo">
    <img class="header__logo" src="../../../assets/innocv.png" />
  </a>

  <h1 class="header__title">
    <p class="typing-animation" i18n>Users birthday list</p>
  </h1>

  <div class="header__icons">
    <a href="https://www.linkedin.com/in/sebastian-real/" target="_blank">
      <img src="../../../assets/github.png" alt="Github logo" class="header__icons-link">
    </a>
    <a href="https://github.com/sebanob9" target="_blank">
      <img src="../../../assets/linkedin.png" alt="Linkedin logo" class="header__icons-link">
    </a>
  </div>
</div>
