<div class="counter">
    <h2 class="counter__title">Total users: {{userService.users.length}}</h2>
    <div class="counter__item">Silent Generation <span>(until 1948):</span>&nbsp;{{userService.generationSilent}}</div>
    <div class="counter__item">Baby Boom <span> (1949-1968):</span>&nbsp;{{userService.babyBoom}}</div>
    <div  class="counter__item">Generation X <span> (1969-1980):</span>&nbsp;{{userService.generationX}}</div>
    <div class="counter__item">Millenials<span> (1981-1994):</span>&nbsp;{{userService.generationZ}}</div>
    <div class="counter__item">Generation Z<span> (since 1995):</span>&nbsp;{{userService.millenial}}</div>
</div>