// --- COLORS ---
$main-color: #f0dde0;
$main-color-op: rgba(240, 221, 224, 0.5);
$main-dark:#9f6984;
$main-dark-op: rgba(159,105,132, 0.3);
$contrast-color: #c97084;
$white: #fff;
$danger: #ba4646;
$success: #53a960;

$gray:#333;
$gray100: #4E4E4E;  
$gray200: #737373;
$gray300: #9D9D9D;
$gray400: #D0D0D0;
$gray500: #EBEBEB;
$gray600: #F6F6F6 ;


// --- BORDERS ---
$border: 1px solid $main-color;
$border-radius: 5px;


// --- FONTS ---
$main-font: 'Solway', serif;

$font-xs: 12px;
$font-s: 14px;
$font-main: 16px;
$font-m: 18px;
$font-l: 24px;
$font-xl: 32px;
$font-xxl: 96px;

