<div class="enable-menu">
  <button [disabled]="!isReadOnly" (click)="isDisabled()" class="btn">Enable edition</button>
  <button [disabled]="isReadOnly" (click)="isDisabled()" class="btn">Disable edition</button>
</div>


<form (ngSubmit)="editUser(userForm)" #userForm="ngForm" *ngFor="let user of userService.users"
 [ngClass]="status ? 'enabled' : 'disabled'" class="edit-form">

  <div class="edit-form__name">
    <input type="text" id="user_name" required placeholder="Indique su nombre" 
    [(ngModel)]="user.name" name="name" #name="ngModel" 
    [readonly]="isReadOnly" minlength="3">

    <div *ngIf="name.errors?.required && name?.touched">
      It is a mandatory field.
    </div>
    <div *ngIf="name.errors?.minlength">
      At least {{ name.errors.minlength.requiredLength}} characters
    </div>
  </div>

  <div class="edit-form__date">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date"
      [(ngModel)]="user.birthdate" #birthdate="ngModel" name="birthdate" readonly id="user_birthdate" required
      [min]="minDate" [max]="maxDate" [readonly]="isReadOnly">
    <mat-datepicker-toggle matSuffix [for]="picker" class="edit-form__date-icon"></mat-datepicker-toggle>
    <mat-datepicker #picker [disabled]="isReadOnly"></mat-datepicker>
  </div>

  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="user.id">
  
  <button type="submit" [disabled]="isReadOnly" class="btn btn--update">Update</button>
  <button (click)="deleteUser(user.id)" [disabled]="isReadOnly"  class="btn btn--delete">Delete</button>

</form>
